# ====== Frontend (base-web-umi) ======
base-web-umi/node_modules/
base-web-umi/dist/
base-web-umi/.umi/
base-web-umi/.umi-production/
base-web-umi/.eslintcache
base-web-umi/build/
base-web-umi/coverage/
base-web-umi/functions/
base-web-umi/.temp/
base-web-umi/screenshot/

# ====== Backend ======
backend/node_modules/
backend/dist/
backend/.env

# ====== Chung ======
**/node_modules/
*.log
npm-debug.log*
yarn-error.log
.DS_Store
Thumbs.db
.idea/
.vscode/
.history/
*bak

# Backup git (tạm thời)
backup-git/
